!!!
%html
  %head
    %link{ href: '/main.css', rel: :stylesheet, type: 'text/css' }

  %body
    %article.invoice
      .logo
        %img{ src: '/owner/logo.png' }

      %h1.title= t.invoice.title

      %section.meta
        %h1 Meta
        %dl.number
          %dt Invoice number:
          %dd= number
        %dl.emit_date
          %dt Emit date:
          %dd= emit_date
        %dl.due_date
          %dt Due date:
          %dd= due_date

      %section.owner_info
        %h1 Owner info
        %address= owner

      %section.client_info
        %h1 Client
        %address= client

      %section.details
        %h1 Invoice details
        %table

          %thead
            %tr
              %th.quantity              Quantity
              %th.description           Description
              %th.unitary_price.numeric Unitary price
              %th.total.numeric         Total

          %tbody
            - entries.each do |e|
              %tr.entry
                %td
                  1
                %td
                  %dl
                    %dt.name= e.name
                    %dd.desc= e.desc
                    %dd.hours #{e.hours}h
                    %dd.hourly_rate #{hourly_rate}
                %td.ex_vat_total.numeric= e.ex_vat_total
                %td.ex_vat_total.numeric= e.ex_vat_total

          %tfoot
            - colspan = 3
            %tr.ex_vat_total
              %td.numeric{ colspan: colspan } Total HT:
              %td.numeric= ex_vat_total
            %tr.vat_total
              %td.numeric{ colspan: colspan } +VAT #{ vat }%:
              %td.numeric= vat_total
            %tr.inc_vat_total
              %td.numeric{ colspan: colspan } Total TTC:
              %td.numeric= inc_vat_total

